.payment-cards{
    border-left: 8px solid;
    --background:#F7F7F7;
    min-height: 80px;
    height: auto;
    display: grid;
    align-items: center;
}
.payment-cards-blue{
    border-color: #0652AF;
}
.payment-cards-yellow{
    border-color: #DBD460;
}
.payment-cards-green{
    border-color: #189746;
}
.icon-card{
    margin-right: 2%;
    height: 33px;
    width: 33px;
}

.title-card{
    //color:red;
    font-size: 14px;
    font-weight: bold;
}

.body-card{
    font-size: 14px;
}

.price-card{
    font-size: 20px;
}

.date-card{
    color:#00ABFF;
    font-size: 14px;
}
.scroll{
    height: 100%;
    overflow: auto;
    overscroll-behavior-y: contain;
}
.card-empty{
    color:#0652AF;
    font-size: 24px !important;
}

.img-credit-card{
    width: 40%;
    height: 170px;
    margin-right: 3%;
}

.title-empty-card{
    font-size: 20px;
    font-weight: bold;
}
.body-empty-card{
    font-size: 19px;
}

.price-empty-card{
    font-size: 20px;
}

@media (min-width:1023px) and (max-width:1024px){
    .icon-card{
        height: 50px;
        width: 50px;
    }
    
    .title-card{
        //color:red;
        font-size: 25px;
    }
    
    .body-card{
        font-size: 26px;
    }
    
    .price-card{
        font-size: 32px;
    }
    
    .date-card{
        font-size: 26px;
    }
    .card-empty{
        font-size: 32px !important;
    }
    .title-empty-card{
        font-size: 29px;
    }
    .body-empty-card{
        font-size: 28px;
    }
    .price-empty-card{
        font-size: 29px;
    }
    .payment-cards{
        min-height: 120px;
    }
}