  <ion-slides [options]="sliderConfig" class="ion-slides" pager mode="md" #slides (ionSlideDidChange)="loanChanged()">
    <ion-slide class="ion-slide" *ngFor="let item of prestamos; let i=index">
      <ion-card  (click)="onAccounts(i)" class="cards ion-padding" [ngStyle]="i%2==0 ? {'background': 'url(' + img.one +')'}: {'background': 'url(' + img.two +')'}" >
        <ion-label>
          <h2 class="ion-text-right"><strong>{{item.prestamo_account_no}}</strong></h2>
          <ion-label>
            <h3 class="ion-text-left">{{'TOTALBALANCE' | translate}}</h3>
            <p class="ion-text-left">{{item.saldo_total | currency}}</p>
            <h3 class="ion-text-left">{{'BALANCETONOTGENERATEINTEREST' | translate}}</h3>
            <p class="ion-text-left">{{item.saldo_vencido | currency}}</p>
            <h3 *ngIf="item.status==300" class="ion-text-left">{{'PAYDAY LIMIT' | translate}} &nbsp;&nbsp;&nbsp;<ion-label class="date-limit">{{item.vencido_desde | date: 'EEEE'}}, {{item.vencido_desde | date: 'dd/MM/yyyy'}}</ion-label></h3>
          </ion-label>   
        </ion-label>
      </ion-card>
    </ion-slide>
  </ion-slides>
  

