<app-header [titulo]="'MYACOUNT' | translate"></app-header>

<ion-content>
  <ion-toolbar> 
    <ion-segment mode="md" class="segment-nav" (ionChange)="segmentChanged($event)" [(ngModel)]="segment"> 
      <ion-segment-button value="creditos"> 
        <ion-label>{{'CREDIT' | translate}}</ion-label>
      </ion-segment-button> 
      <!--ion-segment-button value="depositos"> 
        <ion-label>Depósitos</ion-label>
      </ion-segment-button-->
    </ion-segment> 
  </ion-toolbar> 
  <div class="bg-card-loan"> 
    <app-cards-loan [prestamos]="prestamos"></app-cards-loan>
  </div>
  
  <!--ion-slides style="background-color:#F2F2F2;" #slides (ionSlideDidChange)="slideChanged()" scrollbar="true"> 
  <ion-slide>
    
  </ion-slide>
  </ion-slides--> 


  <ion-item mode="md" class="btn-round item-nav" [routerLink]="['/movements/',idDetatail]" [disabled]="prestamos==''">
    <ion-icon class="IconNav" style="margin-right: 10px;" slot="start" name="search"></ion-icon>
    <ion-label class="labelNav">{{'MOVEMENTS' | translate}}</ion-label>
    <ion-icon class="IconNav" slot="end" name="chevron-forward"></ion-icon>
  </ion-item>
  <ion-item mode="md" class="btn-round item-nav" [routerLink]="['/calendar/',accountNumber]" [disabled]="prestamos==''">
    <ion-icon class="IconNav" style="margin-right: 10px;" slot="start" name="calendar"></ion-icon>
    <ion-label class="labelNav">{{'PCALENDAR' | translate}}</ion-label>
    <ion-icon class="IconNav" slot="end" name="chevron-forward"></ion-icon>
  </ion-item>
  <ion-item mode="md" class="btn-round item-nav" routerLink="/references">
    <ion-icon class="IconNav" style="margin-right: 10px;" slot="start" name="qr-code"></ion-icon>
    <ion-label class="labelNav">{{'BQRO' | translate}}</ion-label>
    <ion-icon class="IconNav" slot="end" name="chevron-forward"></ion-icon>
  </ion-item>
  <ion-item mode="md" class="btn-round item-nav" routerLink="/loandata">
    <ion-icon class="IconNav" style="margin-right: 10px;" slot="start" name="document-text"></ion-icon>
    <ion-label class="labelNav">{{'LOANDATA' | translate}}</ion-label>
    <ion-icon class="IconNav" slot="end" name="chevron-forward"></ion-icon>
  </ion-item>
</ion-content>