.item-nav{
    --background: #043C80;
    --color:white;
    margin-left: 5%;
    margin-right: 5%;
    --min-height:50px;
}

@media(max-width: 576px){
    .item-nav{
        max-height: 70px
    }
}

.segment-nav{
    background-color:#033B7F ;
    color: white;

}

ion-slide {
    //height: calc(110vh - 135px);
    height: 250px;
}

ion-segment-button {
    --color-checked: white !important;
    --indicator-height: 4px !important;
}

.bg-card-loan{
    background-color:#F2F2F2;
    margin-bottom: 7%;
}
.labelNav{
    font-size: 15px!important;
}
.IconNav{
    color: white;
    width: 28px;
    height: 28px;
}
@media (min-width:1023px) and (max-width:1024px){
    .item-nav{
        --min-height: 70px;
    }
    .labelNav{
        font-size: 27px!important;
    }
    .IconNav{
        width: 35px;
        height: 35px;
    }
}