ion-toolbar{
    --background: #043C80;
}

.top{
    margin-top: -15px!important;
}

.condicion{
    margin-top: -20px!important;
}

ion-item{
    margin-top: -5px!important;
}

@media(min-width: 374px) and(max-width:375px),
(min-width: 413px) and(max-width:414px){
    .condicion{
        margin-top: -10px!important;
    }
}

@media(min-width: 767px) and(max-width:768px),
(min-width: 1023px) and(max-width:1024px){
    .condicion{
        margin-top: 10px!important;
    }
    ion-item{
        margin-top: 10px!important;
    }
    
}

