.mayus{
    text-transform: uppercase;
}

.size-icon{
    width: 30px;
    height: 30px; 
}

@media (min-width:1023px) and (max-width:1024px){

    .size-icon{
        width: 40px;
        height: 40px;
    }
}