<app-header [titulo]="'RESETPASS' | translate"></app-header>
<ion-content class="background">
  <ion-card class="background margin-card" style="height: auto;">
    <ion-card-content>
      <form [formGroup]="formChangePassword">
        <ion-list class="background" style="margin-bottom: 10%;">
          <ion-item class="input-item" style="margin-bottom: 5%;">
            <ion-label position="floating">{{'NOACCOUNT' | translate}}</ion-label>
            <ion-input formControlName="nClient" type="text" inputmode="numeric" maxlength="9" required></ion-input>
          </ion-item>
          <app-validation-errors fieldName="nClient" [form]="formChangePassword.get('nClient')"></app-validation-errors>
          
          <ion-button style="margin-bottom: 10%;" class="btn-round btn-success" (click)="sendCode()" expand="block">{{'SEND' | translate}} {{'CODE' | translate}}</ion-button>

          <ion-item class="input-item">
            <ion-label position="floating">{{'CODE' | translate}}</ion-label>
            <ion-input formControlName="code" type="text" inputmode="text" required></ion-input>
          </ion-item>
          <app-validation-errors [form]="formChangePassword.get('code')"></app-validation-errors>
          
          <ion-item class="input-item">
            <ion-label position="floating">CURP</ion-label>
            <ion-input class="mayus" formControlName="curp" type="text" inputmode="text" maxlength="18" required autocapitalize></ion-input>
          </ion-item>
          <app-validation-errors fieldName="curp" [form]="formChangePassword.get('curp')"></app-validation-errors>

          <ion-item class="input-item">
            <ion-label position="floating">{{'PASSWORD' | translate}}</ion-label>
            <ion-input formControlName="password" [type]="hide ? 'password' : 'text'" inputmode="text"></ion-input>
            <ion-icon class="icono-centrado" (click)="hide = !hide" [name]="hide ? 'eye' : 'eye-off'" slot="end" ></ion-icon>
          </ion-item>
          <app-validation-errors fieldName="password" [form]="formChangePassword.get('password')"></app-validation-errors>

          <ion-item class="input-item">
            <ion-label position="floating">{{'COMFIRM' | translate}}</ion-label>
            <ion-input id="confPassword" formControlName="password2" [type]="hide ? 'password' : 'text'" inputmode="text"></ion-input>
            <ion-icon class="icono-centrado" (click)="hide = !hide" [name]="hide ? 'eye' : 'eye-off'" slot="end" ></ion-icon>
          </ion-item>
          <app-validation-errors [form]="formChangePassword.get('password2')"></app-validation-errors>

        </ion-list>

        <ion-button class="btn-round btn-success" [disabled]="!formChangePassword.valid" (click)="resetPassword()" expand="block">{{'CHANGEPASS' | translate}}</ion-button>
        <ion-button class="btn-round btn-white"  routerLink="/login" expand="block">{{'CANCEL' | translate}}</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
