<ion-header class="background ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-item style="--background:transparent" class="ion-no-padding">
      <ion-buttons slot="start">
        <ion-back-button style="position: absolute; color:white" defaultHref="Login"></ion-back-button>
      </ion-buttons>
      <ion-label class="center-label">
        <ion-title style="color:white" text-capitalize>Calendario de Pagos</ion-title>
      </ion-label>
      <ion-icon slot="end" routerLink="/payment-list" name="reorder-two-outline" style="    color: white;
      height: 40px;
      width: 40px;"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon class="btn-next-prev" (click)="back()" name="chevron-back-outline" slot="start"></ion-icon>
    <ion-label  class="text-mes subtitle-card"> {{dateSelect | date:'MMMM yyyy'}} </ion-label>
    <ion-icon class="btn-next-prev" (click)="next()" name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item>

  <ng-template  #template let-view="view"  let-row="row" let-col="col" >
    <div class="center-days" *ngIf="view.dates[row*7+col].events.length==0" style="min-height: 45px">
      {{view.dates[row*7+col].label}}
    </div>
    <div *ngFor="let obj of view.dates[row*7+col].events">
      <div *ngIf="obj.payment.periodo == nextP.periodo" class="center-days" style="background-color: #00A8FF;min-height: 60px;padding: 8px;">
        {{view.dates[row*7+col].label}}
      </div>
      <div *ngIf="!obj.payment.pagado && obj.payment.periodo != nextP.periodo" class="center-days" style="background-color: #B1C800;min-height: 60px;padding: 8px;">
        {{view.dates[row*7+col].label}}
      </div>
      <div *ngIf="obj.payment.pagado && obj.payment.periodo != nextP.periodo" class="center-days" style="border: solid 2px #00A8AE;color: black;min-height: 60px;padding: 8px;">
        {{view.dates[row*7+col].label}}
      </div>
    </div>
  </ng-template>

  <calendar 
    [monthviewDisplayEventTemplate]="template"
    [eventSource]="eventSource"
    [calendarMode]="calendarData.mode"
    [currentDate]="calendarData.currentDate"
    (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onRangeChanged)="reloadSource(startTime, endTime)"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    step="30">   
  </calendar>

  <ion-card *ngIf="selectEvent" class="card-calendar" [ngStyle]="selectEvent.periodo==nextP.periodo ? {'background': 'url(' + img.one +')'}: {'background': 'url(' + img.two +')'}">
    <ion-card-content>
      <ion-label>
        <ion-grid class="number-count">
          <ion-row>
            <ion-col class="title-card reduce-padding" size="9">
              PAGO PARA NO GENERAR INTERES
            </ion-col>
            <ion-col class="small-text-card reduce-padding center-label" size="3">
              <span>PENDIENTE</span>
            </ion-col>
          </ion-row>
        
          <ion-row>
            <ion-col class="price-card reduce-padding" size="9">
              <span>{{selectEvent.importe | currency}}</span>
            </ion-col>
            <ion-col class="small-text-card reduce-padding center-label"  size="3">
              <span>{{selectEvent.periodo}}/{{payments.length - 1}}</span>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="margin-top: 3%;" class="title-card reduce-padding">
              FECHA LIMITE PAGO
            </ion-col>
          </ion-row>
          <ion-row>         
            <ion-col class="subtitle-card reduce-padding" size="6">
              <span>{{selectEvent.fecha | date: 'EEEE, dd/MM/yyyy'}}</span>
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col class="subtitle-card reduce-padding account-number" size="6">
              <span>{{selectEvent.account_no}}</span>
            </ion-col>
            <ion-col class="reduce-padding" size="6">
              <ion-item style="--background: transparent" class="ion-no-padding" lines="none">
                <ion-icon routerLink="/references" slot="end" class="icon-card" name="qr-code-outline"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>  
        </ion-grid>
      </ion-label>
    </ion-card-content>
    
  </ion-card>
</ion-content>
