.ion-card{
  width: 5.1rem;
  height: 5.1rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  float: right;
  --background-color: #00A8FF!important;
}

.ion-card-qr{
    --background-color: #00A8FF!important;
}
.col-separation{
    width: 6rem!important;
}
.ion-icon-myaccounts{
    width: 2rem;
    height: 2rem;
    margin-top: -5px;
}
.ion-icon-qr{
    width: 1.8rem;
    height: 1.8rem;
    margin-top: -2px;
}
.text-qr{
    margin-top: -15px!important;
}
.text-size{
    font-size: .53rem;
    margin-top: -20px;
}
.text-size-account{
    font-size: .53rem;
    margin-top: -14px;
}

@media (min-width:359px) and (max-width:375px){
    .ion-card-qr{
        margin-left: -10px!important;
     }
     .ion-card-loan{
        margin-left: -10px!important;
     }
    .col-separation{
        width: 2rem!important;
    }
    .text-size-account{
        font-size: .54rem;
        margin-top: -17px;
    }
    .ion-text-loan{
        font-size: .54rem;
        margin-top: -3px;
    }
      .text-qr{
        margin-top: -15px!important;
    }
    .ion-card{
        width: 4.8rem;
        height: 4.8rem;
    }
    
}
@media (min-width:374px) and (max-width:375px){
    .ion-card{
        width: 5rem!important;
        height: 5rem!important;
    }
    .text-size{
        font-size: .49rem;
    }
    .text-size-account{
        font-size: .49rem;
    }
}
@media (min-width:413px) and (max-width:414px){
    .ion-card{
        width: 5.20rem;
        height: 5.20rem;
    }
    .text-size{
        font-size: .51rem;
    }
    .text-size-account{
        font-size: .51rem;
    }
    .ion-card-qr{
        margin-left: -12px!important;
     }
     .ion-card-loan{
        margin-left: -10px!important;
     }
}

@media (min-width:767px) and (max-width:800px){
    .ion-card{
        width: 7.5rem;
        height: 7.5rem;
    }
    .ion-card-qr{
        margin-right: 20px!important;
        margin-left: 20px!important;
     }
     .ion-card-myaccounts{
        margin-right: 20px!important;
        margin-left: 20px!important;
     }
  
    .col-separation{
        width: 25rem!important;
    }
    .ion-icon-myaccounts{
        width: 3rem;
        height: 3rem;
        margin-top: 8px;
    }
    .ion-icon-qr{
        width: 2.5rem;
        height: 2.5rem;
        margin-top: 8px;
    }

    .ion-icon-loan{
        max-width: 40px!important;
        margin-top: 9px!important;
        margin-left: 26px!important;
    }

    .text-size{
        font-size: .8rem;
    }
    .text-size-account{
        font-size: .8rem;
        margin-top: -20px!important;
    }
    
}

@media (min-width:1023px) and (max-width:1024px){
    .text-size-account{
        font-size: 1.2rem!important;
        margin-top: -20px!important;
    }
    .ion-card-qr{
        margin-right: 50px!important;
        margin-left: 50px!important;
     }
     .ion-card-myaccounts{
        margin-right: 50px!important;
        margin-left: 50px!important;
     }
     .ion-icon-loan{
        max-width: 70px!important;
        margin-top: 9px!important;
        margin-left: 26px!important;
     }
  
    .col-separation{
        width: 10rem!important;
    }

    .ion-card{
        width: 10rem;
        height: 10rem;
      }
    
    .ion-icon-myaccounts{
        width: 5.5rem;
        height: 5.5rem;
        margin-top: -5px;
    }
    .ion-icon-qr{
        width: 5rem;
        height: 5rem;
        margin-top: -2px;
    }

    .text-size{
        font-size: 1.2rem;
        margin-top: -20px;
    }
    
}

@media (min-width:100px) and (max-width:280px){
    .ion-card{
        width: 4.1rem!important;
        height: 4.1rem!important;
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
        border-bottom-left-radius: .3rem;
        border-bottom-right-radius: .3rem;
        float: right;
        --background-color: #00A8FF!important;
      }
      .col-separation{
        width: 0px!important;
    }
    .ion-icon-myaccounts{
        width: 1.3rem;
        height: 1.3rem;
        margin-top: 0px;
    }
    .ion-icon-qr{
        width: 1.3rem;
        height: 1.3rem;
        margin-top: 0px;
    }
    .text-size{
        font-size: .40rem;
    }
}
