.date-text{
    text-align: center;
}

.calendar-icon{
    height: 30px;
    width: 30px;
}
.mes-text{
    font-size: 19px;
}

.day-text{
    font-size: 25px;
}

.inf-text{
    font-size: 16px;
    font-weight: bold;
}

.periodo-text{
    padding: 7% 0 0 0;
    font-size: 12px;
    text-align: end;
}

.info-card{
    display: grid;
    align-items: center;
}

.card-container{
    margin: 2% 0 0 0 !important;
}

.item-container{
    --background:transparent;
    --border-color: transparent !important;
    padding: 0 0 0 10px !important;
    color: white;
}

.blue-card{
    background: #00A8AE;
    padding: 0;
}

.green-card{
    background: #B1C800;
    padding: 0;
}
.red-card{
    background: #EB3E41;;
    padding: 0;
}
.border-blue-card{
    padding: 0;
    border: solid #00A8AE;
}

.dark-card{
    background: black;
    padding: 0;
}

@media (min-width:1023px) and (max-width:1024px){
    .periodo-text{
        font-size: 22px;
    }
    .mes-text{
        font-size: 33px;
    }
    
    .day-text{
        font-size: 37px;
    }
    
    .inf-text{
        font-size: 30px;
    }
    .calendar-icon{
        height: 50px;
        width: 50px;
    }
}