<app-header [titulo]="'PCALENDAR' | translate"></app-header>

<ion-content>
  <ion-item>
    <h1>{{'PERIODS' | translate}}</h1>
    <p class="mes-text" slot="end" style="display: flex;align-items: center;">
      {{'TODAY' | translate}}: {{dateCurrent | date:'dd MMM yyyy'}}
      <ion-icon [routerLink]="['/calendar/',account]" style="height: 30px;width: 30px;" name="calendar-outline"></ion-icon>
    </p>
  </ion-item>
  <div *ngIf="payments">
    <div *ngFor="let payment of payments">
      <ion-grid *ngIf="payment.periodo == nextP.periodo" class="card-container">
        <ion-row (click)="paymentModal(payment)">
          <ion-col class="info-card" size="2">
            <ion-label class="date-text">
              <p class="day-text">{{payment.fecha | date:'dd'}}</p>
              <p class="mes-text">{{payment.fecha | date:'LLL'}}</p>
            </ion-label>
          </ion-col>
          <ion-col class="info-card blue-card" size="9">
            <ion-item lines="none" class="item-container">
              <p class="inf-text">{{'NEXTPAYMENT' | translate}}</p>
              <p slot="end" class="periodo-text">{{payment.periodo}}/{{payments.length-1}}</p>
            </ion-item>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="!payment.pagado && payment.periodo > nextP.periodo" class="card-container">
        <ion-row (click)="paymentModal(payment)">
          <ion-col class="info-card" size="2">
            <ion-label class="date-text">
              <p class="day-text">{{payment.fecha | date:'dd'}}</p>
              <p class="mes-text">{{payment.fecha | date:'LLL'}}</p>
            </ion-label>
          </ion-col>
          <ion-col class="info-card green-card" size="9">
            <ion-item lines="none" class="item-container">
              <p class="inf-text">{{'NEXTPAY' | translate}}</p>
              <p slot="end" class="periodo-text">{{payment.periodo}}/{{payments.length -1}}</p>
            </ion-item>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="(payment.pagado && payment.periodo != nextP.periodo) || payment.periodo==0" class="card-container">
        <ion-row (click)="paymentModal(payment)">
          <ion-col class="info-card" size="2">
            <ion-label class="date-text">
              <p class="day-text">{{payment.fecha | date:'dd'}}</p>
              <p class="mes-text">{{payment.fecha | date:'LLL'}}</p>
            </ion-label>
          </ion-col>
          <ion-col class="info-card border-blue-card" size="9">
            <ion-item lines="none" class="item-container" style="color:black">
              <p class="inf-text">{{'PAYMENTMADE' | translate}}</p>
              <p slot="end" class="periodo-text">{{payment.periodo}}/{{payments.length-1}}</p>
            </ion-item>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="!payment.pagado && payment.periodo < nextP.periodo && payment.periodo!=0" class="card-container">
        <ion-row (click)="paymentModal(payment)">
          <ion-col class="info-card" size="2">
            <ion-label class="date-text">
              <p class="day-text">{{payment.fecha | date:'dd'}}</p>
              <p class="mes-text">{{payment.fecha | date:'LLL'}}</p>
            </ion-label>
          </ion-col>
          <ion-col class="info-card red-card" size="9">
            <ion-item lines="none" class="item-container">
              <p class="inf-text">{{'LATEPAYMENT' | translate}}</p>
              <p slot="end" class="periodo-text">{{payment.periodo}}/{{payments.length-1}}</p>
            </ion-item>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
      </ion-grid> 
    </div>
  </div>
  
</ion-content>