     
<ion-header class="ion-no-border" mode="md" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="position: absolute; color:white" defaultHref="references"></ion-back-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-label class="center-label">
            <ion-title style="color:white">{{titulo | translate}} </ion-title>
          </ion-label>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content  class="padding">
  <ion-card >
    <ion-item lines="none">
      <img src="/assets/img/Bancos/reference-{{reference}}.png">
    </ion-item>
    <ion-item lines="none">
      <ngx-barcode class="center" bc-format="CODE128" [bc-font-size]="18" [bc-height]="50 " [bc-value]="account" [bc-display-value]="true"></ngx-barcode>
    </ion-item>
    <ion-text class="text-segment" style="color:black"><strong>{{segment}}</strong></ion-text>
    <ion-item class="ion-text-center"  lines="none">
      <img src="/assets/img/Bancos/tiendas.png">
    </ion-item>
  </ion-card>

  <ion-card [routerLink]="'/references'"   style="height: 3rem; background-color: #B1c800;"  lines="none">
    <ion-row>
      <ion-col class="col-1" size="3">
        <ion-icon class="regresar" name="caret-back-outline"></ion-icon>
      </ion-col>
      <ion-col class="col-2" size="9">
        <ion-text style="color:#FFFF; font-size:1rem">Regresar</ion-text>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>


