.first-col{
    text-align: center;   
}
span,p{
    font-size: 16px;
}
.padding-modal{
    background: white;
    display: grid;
    align-items: center;
    height: 100%;
    //bottom: px;
    width: 100%;
    border-radius: 5% 5% 0 0;
    position: fixed;
}

.card-day{
    font-size: 30px;
}
.blue-day{
    color: #00A8AE;
}

.green-day{
    color:#B1C800;
}

.red-day{
    color: #EB3E41;
}

.title-text{
    color:#7D7D7D;
}

.subtitle-text{
    font-weight: bold;
    font-size: 19px !important;
    color: black;
}

.iconPosition{
    background: #00A8AE;
    color: white;
    height: 60px;
    width: 60px;
    position: relative;
    left: calc( (100% - 60px) / 2 );
    border-radius: 50%;
    bottom: -30px;
    z-index: 2;
}

.icon-card{
    height: 40px;
    width: 40px;
    padding: 0;
}
.main-view{
  --background: transparent;
}

@media (min-width:1023px) and (max-width:1024px){
    .iconPosition{
        height: 120px;
        width: 120px;
        left: calc( (100% - 120px) / 2 );
        bottom: -60px;
    }
    .card-day{
        font-size: 55px;
    }
    .subtitle-text{
        font-size: 37px !important;
    }
    span,p{
        font-size: 29px;
    }
    .icon-card{
        height: 100px;
        width: 100px;
    }
}