.first-col{
    text-align: center;   
}

.padding-modal{
    background: white;
    //padding: 15% 0% 0% 0%;
    display: grid;
    align-items: center;
    height: 340px;
    bottom: 0px;
    width: 100%;
    border-radius: 5% 5% 0 0;
    position: fixed;
}

.card-day{
    font-size: 30px;
}
.blue-day{
    color: #00A8AE;
}

.green-day{
    color:#B1C800;
}

.red-day{
    color: #EB3E41;
}

.title-text{
    color:#7D7D7D;
}

.subtitle-text{
    font-weight: bold;
    font-size: 19px !important;
    color: black;
}

.iconPosition{
    background: #00A8AE;
    color: white;
    height: 60px;
    width: 60px;
    position: relative;
    left: calc( (100% - 60px) / 2 );
    border-radius: 50%;
    z-index: 2;
}

.icon-card{
    height: 40px;
    width: 40px;
    padding: 0;
}
.main-view{
  --background: transparent;
}