<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header class="ion-no-border">
      <div style="position: absolute;">
        <img class="img" src="/assets/img/img-menu.jpg">
      </div>
      <div style="position: absolute;">
        <ion-toolbar class="ion-padding"  id="color-background">
          <ion-avatar>
            <img src="{{ avatarUrl.getavatar()}}">
          </ion-avatar>
        </ion-toolbar>
        <ion-item lines="none" class="item-name">
          <ion-label>{{avatarUrl.getClient()}}</ion-label>
        </ion-item>
      </div>
    </ion-header>
    <ion-content scroll="false">
      <div class="spacing ion-padding">
        <ion-menu-toggle *ngFor="let pages of navigate">
          <ion-item class="ion-item" button (click)="onMenuUrl(pages.url)" lines="none">
            <ion-icon [name]="pages.icon"></ion-icon>
            <ion-label>
              {{pages.title}} 
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item class="ion-item" button (click)="changePasswordModal()" lines="none">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-label>
              {{'CHANGEPASS'| translate}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item class="ion-item" button (click)="update()" lines="none">
            <ion-icon name="refresh-outline"></ion-icon>
            <ion-label>
              {{'UPDATEDATA'| translate}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <!-- ion-menu-toggle>
          <ion-item class="ion-item" lines="none">
            <ion-icon name="language-outline"></ion-icon>
            <ion-label>{{'CHANGELANGUAGE'| translate}}</ion-label>
            <ion-select #langSelect (ionChange)="selectLanguage(langSelect.value)" [value]="translate.currentLang" okText="Ok" [cancelText]="'CANCEL'| translate">
              <ion-select-option *ngFor="let language of languagesList" [value]="language.value">{{language.text}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-menu-toggle -->
      </div>
    </ion-content>
    <ion-footer class="ion-no-border ion-padding">
      <ion-menu-toggle>
        <ion-item (click)="onCerrarSession()" lines="none">
          <ion-icon name="enter-outline"></ion-icon>
          <ion-label>
            {{'SIGNOFF'| translate}}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
