<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header class="ion-no-border">
      <div style="position: absolute;">
        <img class="img" src="/assets/img/img-menu.jpg">
      </div>
      <div style="position: absolute;">
        <ion-toolbar class="ion-padding"  id="color-background">
          <ion-avatar>
            <img src="{{ avatarUrl.getavatar()}}">
          </ion-avatar>
        </ion-toolbar>
        <ion-item lines="none" class="item-name">
          <ion-label>{{avatarUrl.getClient()}}</ion-label>
        </ion-item>
      </div>
    </ion-header>
    <ion-content scroll="false">
      <div class="spacing ion-padding">
        <ion-menu-toggle *ngFor="let pages of navigate">
          <ion-item class="ion-item" button (click)="onMenuUrl(pages.url)" lines="none">
            <ion-icon [name]="pages.icon"></ion-icon>
            <ion-label>
              {{pages.title}} 
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </div>
    </ion-content>
    <ion-footer class="ion-no-border ion-padding">
      <ion-menu-toggle>
        <ion-item (click)="onCerrarSession()" lines="none">
          <ion-icon name="enter-outline"></ion-icon>
          <ion-label>
            Cerrar sesion
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
