.btn-selfie{
    position:absolute;
    left: 60px;
    top: 60px;
}

#img-selfie{
    width: 62px;
    height: 66px;
    margin-left: 19%;
    margin-top: 15%;
    --border-radius: 0px;
}

.positionAvata{
    height: 100px;
    width: 100px; 
    background-color: white; 
    margin-top: 0px;
}

.mayus{
    text-transform: uppercase;
}

.size-icon{
    width: 24px;
    height: 24px; 
}

@media (min-width:1023px) and (max-width:1024px){

    .size-icon{
        width: 40px;
        height: 40px;
    }

    .positionAvata{
        height: 220px;
        width: 220px;
    }

    #img-selfie{
        width: 142px;
        height: 146px;
    }

    .btn-selfie{
        width: 80px;
        height: 80px;
        left: 150px;
        top: 120px;
    }
}