.title-text{
    color:#7D7D7D;
    font-size: 14px;
}

.subtitle-text{
    font-weight: bold;
    font-size: 19px !important;
    color: black;
}

.div-monto{
    background-color: #0052AF !important;
    z-index: 2;
    width: 100%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.title{
    color: white;
    font-size: 28px;
}

.monto-text{
    color: white;
    font-size: 24px !important;
}

@media (min-width:1023px) and (max-width:1024px){
    .monto-text{
        font-size: 37px !important;
    }
    .subtitle-text{
        font-size: 32px !important;
    }
    .title{
        color: white;
        font-size: 40px;
    }
    .title-text{
        font-size: 26px;
    }
}