.title-text{
    color:#7D7D7D;
}

.subtitle-text{
    font-weight: bold;
    font-size: 19px !important;
    color: black;
}

.div-monto{
    background-color: #0052AF !important;
    z-index: 2;
    width: 100%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.title{
    color: white;
}

.monto-text{
    color: white;
    font-size: 24px !important;
}