<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  <ion-item lines="none" style="padding-top: 2rem;float: center; text-align: center;">
    <ion-text class="msjrecibido"><strong>{{'RECIBIDO' | translate}}</strong></ion-text>
  </ion-item>
  <ion-item lines="none">
    <ion-avatar>
      <ion-img src="/assets/img/money.jpg"></ion-img>  
    </ion-avatar>
  </ion-item>
  <ion-item lines="none">
    <ion-text class="msj">{{'CONTACT' | translate}} {{'NOTIFICATION' | translate}} {{'APPLICATION' | translate}} {{'APLI' | translate}}!</ion-text>
  </ion-item>
  <ion-button mode="ios" class="button" routerLink="/home" expand="block">{{'ACEPTAR' | translate}}</ion-button>
</ion-content>
