.card-info{
    --background: transparent;
    --color:white;
    --min-height:50px;
    margin-bottom: 6%;
    width: 100%;
    background-repeat: no-repeat;
    width: 26rem;
    height: 12rem;
    display: flex;
    align-items: center;
}

.pagination{
    --bullet-background: #7D7D7D;
    --bullet-background-active:#7D7D7D;
}

.font-ligh{
    font-weight:lighter;
    font-size: 14px;
    padding: 2% 0 0 0;
}

.number-count{
    font-size: 20px;
    padding: 3% 0 0 0;
}
.date-label{
    padding: 3% 0 0 0;
    font-size: 15px;
    text-transform: uppercase;
}
.payment-cards{
    border-left: 8px solid;
    --background:#F7F7F7;
    height: 80px;
    display: grid;
    align-items: center;
}
.icon-card{
    margin-right: 2%;
    height: 33px;
    width: 33px;
}
.size-scroll{
    height: 70%;
}
@media (min-width:1023px) and (max-width:1024px){
    .card-info{
        width: 55rem;
        height: 25rem;
    }
    .font-ligh{
        font-size: 33px;
    }
    .number-count{
        font-size: 40px;
    }
    .size-scroll{
        height: 60%;
    }
    .date-label{
        font-size: 34px;
    }
}