<ion-header class="ion-padding" class="ion-no-border">
       <ion-toolbar color="content">
          <ion-avatar class="ion-margin ion-padding" slot="" class="ion-no-padding" button (click)="menuSalir()">
            <img src="{{ urlAvatar }}">
          </ion-avatar>
       </ion-toolbar>      
</ion-header>
<ion-content color="content"  [scrollX]="false" [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="cards-slides">
    <app-cards-loan [prestamos]="prestamos"></app-cards-loan>
  </div>
  <div class="body">
    <div class="body-button">
      <app-cards-buttons></app-cards-buttons>
    </div>
    <div class="body-list">
      <div class="box-list box-padding">
        <app-payment-cards [data]="arrayMovements"></app-payment-cards>
      </div>
    </div>
  </div>

</ion-content>
