ion-toolbar{
    --background: #043C80;
}
ion-segment-button{
    --color-checked: white !important;
    --indicator-height: 4px !important;
    
}

ion-popover.popover-content {
    --width: 540px;
    --max-width: 100%;
  }

ion-avatar{
    width: 60px!important;
    height: 60px!important;
}

@media(min-width: 374px) and(max-width:375px){
    ion-avatar{
        width: 50px!important;
        height: 50px!important;
    }
}


